[submodule "qcacld2"]
	path = qcacld2
	url = https://source.mnt.re/reform/qcacld2.git
	ignore = dirty
[submodule "linux"]
	path = linux
	url = https://github.com/gregkh/linux.git
	ignore = all
	update = checkout
	pushurl = no_push
[submodule "reform-tools"]
	path = reform-tools
	url = https://source.mnt.re/reform/reform-tools.git
	ignore = dirty
[submodule "reform-debian-packages"]
	path = reform-debian-packages
	url = https://source.mnt.re/reform/reform-debian-packages.git
	ignore = dirty
